<div head></div>
<div navi></div>

<div ng-if="dash.currentView == 'dash-home' " dash-home ></div>
<div ng-if="dash.currentView == 'dash-instant' " dash-instant ></div>
<div ng-if="dash.currentView == 'dash-schedule' " dash-schedule ></div>
<div ng-if="dash.currentView == 'dash-recurring' " dash-recurring ></div>
<div ng-if="dash.currentView == 'dash-project' " dash-project ></div>
<div ng-if="dash.currentView == 'dash-projectjob' " dash-projectjob ></div>
<div ng-if="dash.currentView == 'dash-addressbook' " dash-addressbook ></div>
<div ng-if="dash.currentView == 'dash-addaddress' " dash-addaddress ></div>
<div ng-if="dash.currentView == 'dash-jobcomplete' " dash-jobcomplete ></div>
<div ng-if="dash.currentView == 'dash-paymentdetails' " dash-paymentdetails ></div>
<div ng-if="dash.currentView == 'dash-profile' " dash-profile ></div>
<div ng-if="dash.currentView == 'dash-savedquotes' " dash-savedquotes ></div>
<div ng-if="dash.currentView == 'dash-pendingjobs' " dash-pendingjobs ></div>
<div ng-if="dash.currentView == 'dash-allmessages' " dash-allmessages ></div>
